
{{ set_assets('applications/Users/assets/js/role.js') }}

{% set applications = getContext('applications') %}
{% set item = getContext('item') %}
{% set rights = getContext('rights') %}

{% set view_only = getContext('view_only') %}
{% set write_only = getContext('write_only') %}
{% set view_write = getContext('view_write') %}

{% set space_str = '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' %}

<div class="user_rights">
    V = View, A=Add,  W = Write and D = Delete <br>
    VO = View Own,  WO = Write Own and DO = Delete Own
    {% if applications|length > 0 %}
        <div id="accordion" class="panel-group">
            {% for key,application in applications %}


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="role-application-right" data-toggle="collapse" data-parent="#accordion" href="#collapse{{application.id}}" application_id='{{ application.id }}' role_id='{{ item.id }}' title='{{ application.title }}'>{{ application.title }}</a>
                        </h4>
                    </div>
                    <div id="collapse{{application.id}}" class="panel-collapse collapse">
                        <div class="panel-body">
                        </div>
                    </div>
                </div>



            {% endfor %}
        </div>
    {% endif %}  

</div>