
{% import "form.macro.twig" as forms %}

<div class="table-responsive">
    <table class="table table-striped table-hover table-condensed">
        <thead>
            <tr>
                <th style="width:50%">Name</th>
                <th>Right</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <strong>{{ application.title }}</strong>
                    <a class="btn btn-default btn-xs check_all" application_name="{{ application.name }}">Check All</a> 
                    <a class="btn btn-default btn-xs uncheck_all" application_name="{{ application.name }}">UnCheck All</a> 
                    <a class="btn btn-default btn-xs toggle_all" application_name="{{ application.name }}">Toggle</a>
                </td>
                <td class="{{ application.name }}_td">
                    {% set application_form_default = '' %}
                    {% set application_obj = attribute(rights.applications, application.name) %}
                    {% set application_form_name = 'rights.applications.' ~ application.name %}
                    {% if application_obj.view %}
                        {% set application_form_default = 'view' %}
                    {% endif %}
                    {# forms.input(application_form_name,'checkbox', application_form_default, null, null, null, null, null, view_only) #}
                </td>
            </tr>
            {% if application.components|length > 0 %}
                {% set component_count = 1 %}
                {% for component in application.components %}
                    <tr>
                        <td>
                            {{ space_str|raw }}
                            {{ component_count }}.  
                            {{ component.title }}

                        </td>
                        <td class="{{ application.name }}_td">
                            {% set component_form_default = '' %}
                            {% set component_obj = attribute(application_obj.components, component.name) %}
                            {% set component_form_name =  'rights.applications.' ~ application.name ~ '.components.' ~ component.name %}
                            {% if component_obj.view %}
                                {% set component_form_default = 'view' %}
                            {% endif %}
                            {# forms.input(component_form_name,'checkbox', component_form_default, null, null, null, null, null, view_only) #}
                        </td>
                    </tr>
                    {% set component_count = component_count + 1 %}
                    {% if component.subsets|length > 0 %}
                        {% for subset in component.subsets %}
                            {% if subset.has_view %}
                                <tr>
                                    <td>
                                        {{ space_str|raw   }}
                                        {{ space_str|raw  }}
                                        <i>{{ subset.title }}</i>
                                    </td>
                                    <td class="{{ application.name }}_td">

                                        {% set subset_form_view_default = '' %}
                                        {% set subset_form_write_default = '' %}
                                        {% set subset_obj = attribute(component_obj.subsets, subset.name) %}
                                        {% set subset_form_name = 'rights.applications.' ~ application.name ~ '.components.' ~ component.name ~ '.subsets.' ~ subset.name %}

                                        {% if subset.role.view %}
                                            {% set subset_form_view_default = 'view' %}
                                        {% else %}
                                            {% set subset_form_view_default = '' %}
                                        {% endif %}

                                        {% if subset.role.add %}
                                            {% set subset_form_add_default = 'add' %}
                                        {% else %}
                                            {% set subset_form_add_default = '' %}
                                        {% endif %}

                                        {% if subset.role.write %}
                                            {% set subset_form_write_default = 'write' %}
                                        {% else %}
                                            {% set subset_form_write_default = '' %}
                                        {% endif %}
                                        
                                        {% if subset.role.delete %}
                                            {% set subset_form_delete_default = 'delete' %}
                                        {% else %}
                                            {% set subset_form_delete_default = '' %}
                                        {% endif %}
                                        
                                        {% if subset.role.viewown %}
                                            {% set subset_form_viewown_default = 'viewown' %}
                                        {% else %}
                                            {% set subset_form_viewown_default = '' %}
                                        {% endif %}

                                        {% if subset.role.writeown %}
                                            {% set subset_form_writeown_default = 'writeown' %}
                                        {% else %}
                                            {% set subset_form_writeown_default = '' %}
                                        {% endif %}
                                        
                                        {% if subset.role.deleteown %}
                                            {% set subset_form_deleteown_default = 'deleteown' %}
                                        {% else %}
                                            {% set subset_form_deleteown_default = '' %}
                                        {% endif %}

                                        {% set subset_form_default = [subset_form_view_default, subset_form_add_default, subset_form_write_default,subset_form_delete_default, subset_form_viewown_default, subset_form_writeown_default,subset_form_deleteown_default] %}
                                        {{ forms.input(subset_form_name,'checkbox', subset_form_default, null, null, null, null, null, view_write) }}
                                        {{ forms.input(subset_form_name~'.exist','hidden', 1) }}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </tbody>
        {% else %}
            <tfoot>
                <tr>
                    <th colspan="3">No Records</th>
                </tr>
            </tfoot>  
        {% endif %}
    </table>
</div>