
{% if routes|length>0 %}

    <div>
        <table class="table table-responsive table-condensed">
            {% for key,route in routes %}
                <tr>

                    <td>
                        <b> {{ route.route }}</b>
                    </td>

                    <td>
                        {% for role in roles %}
                            {% if not role_id or role.id == role_id %}
                                <div class="extension_routes_permission">

                                    {% if not role_id %}
                                        <td>
                                            {{ role.title }} 
                                        </td>
                                    {% endif %}

                                    <div class="col-sm-10">
                                        <ul class="route-permission-list">

                                            {% for permission in route.permissions %}
                                                <li class="col-sm-4">

                                                    {% set cur_permission = attribute(route.route_permissions, permission) %}

                                                    {% if permission != '' %}
                                                        <input value="1" type="checkbox" {% if cur_permission %}checked{% endif %} role_id="{{ role.id }}" permission="{{ permission }}" route_id="{{ route.id }}"> {{ permission}}
                                                    {% endif %} 
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            {% endif %}

                            <div class="clr"></div>

                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endif %}

<style>

    .route-permission-list{
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .extension_routes [class*="col-"]{
        padding-left: 5px;
        padding-right:5px;
    }

</style>