{# empty Twig template #}

{% import "form.macro.twig" as forms %}

{{ set_assets('applications/Users/assets/css/login.css') }}

<div class="user_login_bg">

    <form  method="post" action="{{ friendly_url('app=users&com=users&controller=UsersController&task=login') }}" role="form">

        {% if show_title %}
            <div class="well well-sm"> Login Detail</div>        
        {% endif %}

        <div class="form-horizontal">

            <div class="col-sm-12">
                <label>Username or Email</label>
                {{ forms.input('username', 'text', null) }}
            </div>

            <div class="col-sm-12">
                <label>Password</label>
                {{ forms.input('password', 'password', null) }}
            </div>

        </div>

        <div class="form-group form_links-group">
            <div class="col-sm-12">
                <div class="form-group">
                    <input type="checkbox" name="remember_me"/> Remember Me
                </div>

                <a href="{{ friendly_url('app=users&com=users&subset=users&view=forgot') }}" title='Forget Password?'>
                    Forget Password?
                </a><br>

                <!--
                <a href="{{ friendly_url('app=users&com=users&subset=users&view=password') }}" title=Forget Username?>
                    Forget Username?
                </a><br>
                -->
                <br>

                <div>

                    <button type="submit" class="btn btn-success btn-sm btn-flat">
                        <i class="fa fa-arrow-right"></i> Sign Me In
                    </button>

                    {% if show_cancel %}
                        <a class="btn btn-danger btn-sm btn-flat" href="{{ friendly_url('/') }}" title='Cancel'>
                            <i class=" fa fa-mail-reply"></i> Cancel
                        </a>
                    {% endif %} 
                </div>

            </div>
        </div>

        {{ forms.input('return_url', 'hidden', return_url|raw ) }}

        {{ forms.input('_token' ) }} 

    </form>


</div>