{# empty Twig template #}

<p><strong>Forgot Your Password</strong></p>
<p>Your password is now reset.</p>
<p>Name: {{name}}</p>
<p>UserName: {{username}}</p>
<p>New Password: {{password_raw}}</p>
<p>Click to link below to login to your account.&nbsp;</p>
<p>&nbsp;Please change your password after logging in.</p>
<p><a href= "{{ login_url }} ">Login to your Account</a></p>
<p>Or copy and paste this url</p>
<p>{{ login_url }}</p>